[Desktop Entry]
Type=Application
Name=Comsol with Matlab
Comment=COMSOL Multiphysics Modeling Software
Icon=comsol_matlab
MimeType=application/comsol;
TryExec=comsol_matlab.sh
#Exec=comsol server matlab "startup"
Exec=comsol_matlab.sh
#set to true to see debugging output
Terminal=true
