[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vivado
Comment=Vivado
Icon=vivado.png
TryExec=/opt/Xilinx/Vivado/2015.2/bin/vivado
Exec=/opt/Xilinx/Vivado/2015.2/bin/vivado -nolog -nojournal
StartupWMClass=Vivado
