[Desktop Entry]
Version=1.0
Name=Htop
Type=Application
Comment=Show System Processes
TryExec=htop
Exec=htop
Terminal=true
Icon=htop
Categories=ConsoleOnly;System;
GenericName=Process Viewer
