[Desktop Entry]
Type=Application
Name=Matlab
Comment=The Language of Technical Computing
Icon=matlab
MimeType=application/matlab
TryExec=matlab
Exec=matlab -desktop
StartupWMClass=matlab-Matlab
